$main-color: rgb(255, 174, 0);
$main-color-dark: darken($main-color, 10);
$main-color-light: lighten($main-color, 30);



.button {
  border: 1px solid $main-color-light;
  background-color: $main-color-light;
  border-radius: .5rem;

  &:hover {
    background-color: $main-color;
  }

  &:active {
    background-color: $main-color;
  }
}