.question {

  &-container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
}

.choice {

  &-list {
    min-height: 2rem;
    margin-top: 1rem;
  }
}

.survey-timeline {
  display: grid;
  grid-template-columns: 2fr, 2fr, 2fr;
  &-card {
    border: 3px solid black;
    padding: 15px;
    margin-top: 10px;
  }
}