.question {
  &-container {
    display: grid;
    align-items: center;
    width: 70%;
  }
}

.choice {
  &-list {
    min-height: 2rem;
    margin-top: 1rem;
  }
}

.survey-timeline {
  display: grid;
  grid-template-columns: 2fr, 2fr, 2fr;
  padding: 0.5rem;

  &-card {
    float: left;
    // border: 3px solid rgb(182, 77, 77);
    padding: 1rem;
    margin-top: 1rem;
    width: 60%;

    box-shadow: 1px 2px 4px #525252;
    border-radius: 0.2rem;
  }

  &-card > img {
    float: left;
    margin-right: 1rem;
    margin: 0.75rem;
  }
}
