.question {

  &-container {
      width: 100%;
      display: block;
      text-align: center;
      padding: 1rem;
  }

  &-list {
    width: 80%;
    margin: auto;
}

  &-create {
    
    &-container {
      width: 100%;
      margin-right: 15%;
      margin-left: 15%;
      display: flexbox;
      justify-content: center;
    }

    &-collapse {
      &-icon {
        width: 24px;
        height: 24px;
        vertical-align: bottom;
      }

      &-header {
        margin: 0;
        display: inline-flex;
        padding-left: 0.5rem;
        padding-right: 0.25rem;
        padding-top: 0.25rem;
        padding-bottom: 0;
      }
    }

  }

  &-content {
    resize: none;
    width: 100%;
    height: 6rem;
    //border-style: none none none double;
    //border-width: 0.3rem;
    border-style: solid;
    padding: 0.5rem;
    font-family: 'Times New Roman';
    font-size: x-large;

    &:focus{
      outline: none;
      background-origin: padding-box;
      padding: 0.6rem;
      border: solid silver 0.1rem;
      transition-duration: 0.3s;
      box-shadow: 0 0.8rem 1rem 0 rgba(0,0,0,0.24),0 1rem 3rem 0 rgba(0,0,0,0.19);
    }

  }

  &-img {
    margin-bottom: 1rem;
    padding: 0.2rem;
  }
}