.question {

  &-container {
      width: 100%;
      display: block;
      text-align: center;
      padding: 1rem;
  }

  &-content {
    resize: none;
    width: 70%;
    height: 6rem;
    border-style: none none none double;
    border-width: 0.3rem;
    padding: 0.5rem;
    font-family: 'Times New Roman';
    font-size: x-large;

    &:focus{
      outline: none;
      background-origin: padding-box;
      padding: 0.6rem;
      border: solid silver 0.1rem;
      box-shadow: 0.5px 0.5px; 
    }

  }

  &-img {
    margin-bottom: 1rem;
    padding: 0.2rem;
  }
}