.choice {
  &-list {
    height: 1rem;
    margin-bottom: 1rem;
    padding:0.05rem;
    border-radius:0.5rem;
    background-color: rgb(208, 226, 226);
  }

  &-ans {
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;

    &-linked {
      width: 7%;
      //margin-left: -2rem;
      background-color: whitesmoke;
      font-family: "Roboto Mono Medium";
      font-size: large;
      height: 1.5rem;
      //border-radius: 0.5rem;
      border: solid gray 1px;
      margin-right: 1%;
      //padding: 0.5rem;
      vertical-align: top;

      &:focus {
        outline: none;
        background-origin: padding-box;
        border: solid silver 0.1rem;
        box-shadow: 0.5px 0.5px;
      }
    }

    &-rated {
      height: 2rem;
    }
  }

  &-content {
    //resize: none;
    width: 62%;
    font-family: "Times New Roman";
    font-size: large;
    //border-top-style: none;
    //border-bottom-style: none;
    //border-right-style: none;
    //border-left-style: double;
    //border-width: 0.3rem;
    //border-radius: 0.5rem;
    padding: 0.3rem;
    height: 1, 5rem;
    vertical-align: middle;

    &:focus {
      outline: none;
      background-origin: padding-box;
      padding: 0.5rem;
      border: solid silver 0.1rem;
      box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.24),
        0 1rem 2rem 0 rgba(0, 0, 0, 0.19);
      transition-duration: 0.3s;
      //box-shadow: 0.5px 0.5px;
    }
  }
}
